.boat-text{
    font-size: 5.25rem; 
    text-align: center; 
    text-justify: auto; 
}
/* .dynamicTextBox {
    width: 90%;
    height: 20%;
    border: 2px; 
    border-style: solid; 
    border-color: rgb(148, 147, 147);
    text-overflow: wrap; 
} */