.boatText{
    font-size: 5.25rem; 
    text-align: center; 
    text-justify: auto; 
    font-weight: 900;
    
}

.addStroke {
    -webkit-text-stroke: 1px black;
}
.regText {
    width: 30%
}

.inputContainer {
    width: 250px;
    float: left;
}

h1 {
    -webkit-text-stroke: 1px black;
  }